* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
}

body {
    background-color: #93acc1;
    width: 600px;
    max-width: 600px;
    margin: auto;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    text-shadow: #353535 1px 1px 2px;
}

.score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #11698e;
    color: white;
    margin-bottom: 2px;
    box-shadow: #525252 1px 1px 4px 1px;
    border-radius: 3px;
}

.score img {
    height: 1.5rem;
    box-shadow: #525252 1px 1px 4px 1px;
    border-radius: 50%;
    vertical-align: middle;
}

.blue {
    color: blue;
}

.divInfo {
    text-align: center;
    border: 5px ridge #7ed5d7;
    border-radius: 5px;
    background-color: #93acc1;
    box-shadow: #525252 1px 1px 4px 1px;
}

.divInfo p {
    margin: 5px;
    font-size: 1.5rem;
}

.mirror {
    transform: rotate(180deg);
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 600px;
    height: 600px;
    margin: 5px 0;
    border: 10px ridge #aacfd0;
    border-radius: 5px;
    background-color: #8d9090;
    padding: 8px;
    box-shadow: #525252 1px 1px 4px 1px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 7px #19456b;
    border-radius: 5px;
    background-color: #11698e;
    color: white;
    font-size: 3rem;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: #525252 1px 1px 4px 1px;
}

.box:hover {
    transform: scale(1.1);
    background-color: teal;
}

.resetBTN {
    display: block;
    width: 99%;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 3px;
    box-shadow: #525252 1px 1px 4px 1px;
    font-family: inherit;
    font-weight: inherit;
    margin-top: 5px;
    margin: auto;
    background-color: #8d9090;
    text-shadow: #353535 1px 1px 2px;
}

.resetBTN:active {
    background-color: teal;
}

.newGame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: orange;
    display: none;
    cursor: pointer;
}

.newGame div {
    text-align: center;
    transition: all 5s;
    animation: rotate infinite 5s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.newGame p {
    margin-top: 10vh;
}

@media (max-width:799px) {
    body {
        width: 100%;
        height: 100%;
    }
    .parent {
        width: 100vw;
        max-width: 600px;
        height: 100vw;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding: 5px;
    }
    .box:hover {
        transform: none;
        background-color: teal;
    }
    .box:active {
        transform: scale(1.2);
    }
}